<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN"
	"http://www.oasis-open.org/docbook/xml/4.1.2/docbookx.dtd" []>

<book id="thermal-api">
 <bookinfo>
  <title>Linux Kernel Thermal Framework API</title>

  <authorgroup>
   <author>
    <firstname>Eduardo</firstname>
    <surname>Valentin</surname>
    <affiliation>
     <address>
      <email>evalenti@kernel.org</email>
     </address>
    </affiliation>
   </author>
  </authorgroup>

  <copyright>
   <year>2008-2014</year>
   <holder>Eduardo Valentin</holder>
   <holder>Sujith Thomas</holder>
   <holder>Zhang Rui</holder>
  </copyright>
  <legalnotice>
   <para>
     This documentation is free software; you can redistribute
     it and/or modify it under the terms of the GNU General Public
     License version 2 as published by the Free Software Foundation.
   </para>

   <para>
     This program is distributed in the hope that it will be
     useful, but WITHOUT ANY WARRANTY; without even the implied
     warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
     See the GNU General Public License for more details.
   </para>

   <para>
     For more details see the file COPYING in the source
     distribution of Linux.
   </para>
  </legalnotice>
 </bookinfo>

<toc></toc>

	<chapter id="introduction">
		<title>Introduction</title>
		<para>Thermal management is any method or technique implied to
		mitigate emergencies caused by operating devices outside of
		supported temperatures. The challenge consists of designing a
		product keeping the junction temperature of the IC components.
		The operating temperature of IC components used on products must
		operate within their design limits. Besides, temperature towards
		device enclosure must be in a comfort level for the user.
		Therefore, thermal management, by the time of this writing,
		starts in very early device design phase. Managing thermal may
		involve different disciplines, at different stages, such as
		temperature monitoring, floorplanning, microarchitectural
		techniques, compiler techniques, OS techniques, liquid cooling,
		and thermal reliability or security. This document covers what
		the Linux Kernel Thermal Framework provides as abstraction to
		users with respect to thermal management.  
		</para>
		<para>One of the first proposals to provide a solution to cover
		the thermal problem appears in the Advanced Configuration and
		Power Interface (ACPI) specification. ACPI provides an open
		standard for device configuration and power management by the
		operating system. However, several computing devices which may
		have thermal issues in the market disregard the ACPI standard.
		Therefore, the Linux Kernel Thermal Framework has been designed
		to serve as abstraction for ACPI and non-ACPI systems. The core
		concepts applies in both types of systems. 
		</para>
		<para>The Linux Kernel Thermal Framework has a design which
		represents the different thermal constraints found in
		end-products. The thermal constraints exist to serve different
		purposes. There are two major types of thermal constraints. The
		first is related to components junction temperature. The second
		is related to the level of comfort while end users are handling
		devices.
		</para>

  </chapter>
</book>
